{% extends 'master' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About DateNite</h2>
        <p>Powered by Yelp. Built on AdonisJS. Held together by duct tape.</p>
        <h2>The Future</h2>
        <p>At some unspecified future date I want to introduct a couple cool new features:
          <ul>
            <li>User preferences, so responses can be weighted based on your likes/dislikes</li>
            <li>Events/activities from other sources. I really want to add movies, because I was inspired to make this after not being able to pick a movie and a restaurant
      </div>
    </div>
  </div>
{% endblock %}