{% extends 'master' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-3">
          <div class="card-body">
            <h2>About DateNite</h2>
            <p>Powered by <strong>Yelp</strong>. Built on <strong>AdonisJS</strong>. Held together by <strong>duct tape</strong>.</p>
            <hr>
            <h2>But Why?</h2>
            <p>I really, really needed to think of something out of the ordinary to do for a date-night surprise.</p>
            <p>But in a more general sense, I wanted to try playing around to build a smart suggestion system. Integrating with the Yelp API is the first step for that, but eventually I'd like to build it into something much more advanced. I also wanted to try out NodeJS. I felt like it might be a better backend in the event that this thing ever ended up getting a lot of traffic. I love using Laravel, but I figured it was good to stretch myself.</p>
            <hr>
            <h2>The Future</h2>
            <p>At some unspecified future date I want to introduce a couple cool new features:
              <ul>
                <li>User preferences, so responses can be weighted based on your likes/dislikes</li>
                <li>Events/activities from other sources. I really want to add movies, because I was inspired to make this after not being able to pick a movie and a restaurant, but unfortuntely Fandango is really lame and doesn't really open their API up to the public for development anymore as far as I can tell. If I can find a good replacement API I'll jump on that though.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}