{% extends 'master' %}

{% block content %}
  <div class="container" id="date">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

      </div>
    <div>

    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
  <script href="/js/app.js"></script>
{% endblock %}