{% extends 'master' %}

{% block content %}
  <div class="container" id="date">

    {# Pitch + Find form #}
    <div class="row" v-show="selectDate">
      <div class="col-md-12">

        {# Header pitch card #}
        <div class="card">
          <div class="card-body">
            <h3>Welcome to DateNite!</h3>
            <hr>
            <ul>
              <li>Are you bored with your usual routine?</li>
              <li>Have you ever been told that you need to be more spontaneous?</li>
              <li><strong>Is it getting late on Friday and you need to pretend you already thought of something on your own?</strong></li>
            </ul>
            <p>
              DateNite is here to help.
            </p>
          </div>
        </div>
        
        {# Find A Date card #}
        <div class="card">
          <div class="card-body">
            <h3>Find Your Date Now</h3>
            <hr>
            <p>Set your location and select one of the options below and DateNite will find you a randomly selected suggestion in your area:</p>
            <p>
            <div class="form-group">
              <div class="row">
              <div class="col-md-3">
                <label class="control-label">Zip Code: {% raw %} {{ userZip }} {% endraw %}</label>
                <input class="form-control" size="5"  maxlength="5" type="text" v-model="userZip">
              </div>
              </div>
            </div>
            </p>
            <p>
              <button v-on:click="sendRequest('restaurants', '{{ csrfToken }}' )" class="btn btn-info">Dinner</button>
              <button v-on:click="sendRequest('active', '{{ csrfToken }}' )" class="btn btn-info">Active / Outdoors</button>
              <button v-on:click="sendRequest('arts', '{{ csrfToken }}' )" class="btn btn-info">Arts / Music</button>
              <button v-on:click="sendRequest('nightlife', '{{ csrfToken }}' )" class="btn btn-info">Nightlife</button>
              <button v-on:click="sendRequest('surprise', '{{ csrfToken }}' )" class="btn btn-info">Surprise Me</button>
            </p>
          </div>
        </div>

      </div>
    </div>

    {# Loading display #}
    <div class="row" v-show="spinner">
      <div class="col-md-12">
        <div class="card">  
          <div class="card-body">
            <p>Reticulating Splines...</p>
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    {# Date idea display #}
    <div class="row" v-show="results">
      <div class="col-md-12">
        <h4 class="mb-3 t-3">Check out these date ideas:</h4>
      </div>

      <div v-for="date in dates" class="col-md-4 col-sm-12">
        <div class="card mb-3 mt-3">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Location:</strong> <a :href="site_link"> {% raw %} {{ date.name }} {% endraw %}</a></li>
              <li class="list-group-item"><strong>Category:</strong> <span class="text-uppercase">{% raw %} {{ date.date_type }} {% endraw %}</span></li>
              <li class="list-group-item"><strong>Address:</strong> {% raw %} {{ date.address }} {% endraw %}</li>
              <li class="list-group-item">
                <strong>Source:</strong> <a :href="date.site_link"> <img class="img-responsive" width="100" height="64" src="/yelp/Yelp_trademark_RGB.png"></a>
                <img class="img-responsive" :src="'/yelp/regular_' + date.rating + '.png'">Reviews: {% raw %} {{ date.reviews }} {% endraw %}
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="card mb-3 mt-3">
          <div class="card-body">
            <h4>Not really feeling it?</h4> <p>Click below to re-roll. Don't abuse it though - it kinda goes against the whole spirit of spontaneity and adventure, y'know?</p>
            <p>
              <button v-on:click="sendRequest('restaurants', '{{ csrfToken }}' )" class="btn btn-primary">Dinner</button>
              <button v-on:click="sendRequest('active', '{{ csrfToken }}' )" class="btn btn-primary">Active / Outdoors</button>
              <button v-on:click="sendRequest('arts', '{{ csrfToken }}' )" class="btn btn-primary">Arts / Music</button>
              <button v-on:click="sendRequest('nightlife', '{{ csrfToken }}' )" class="btn btn-primary">Nightlife</button>
              <button v-on:click="sendRequest('surprise', '{{ csrfToken }}' )" class="btn btn-primary">Surprise Me</button>
            </p>
          </div>
        </div>
      </div>
    </div>  

  </div>
{% endblock %}


{% block js %}
  <script src="/js/app.js"></script>
{% endblock %}